<div class="about">
  Welcome to Boston Terrier Shirt Co, the premier online destination for every Boston Terrier enthusiast!
  Our lovingly crafted t-shirt collection is designed to showcase the unique charm and delightful quirks of these wonderful companions.
  From playful patterns to artistic portraits, each piece in our range celebrates the spirited personality of the Boston Terrier.
  Whether you're looking for the perfect gift for a fellow Boston Terrier lover or a special treat for yourself, our shirts are sure to spread joy and style.
  Explore our exclusive designs and flaunt your love for Boston Terriers in comfort and fashion!
</div>

<app-catalog></app-catalog>
